Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

chore(migration): add temporary export workflow
  .github/workflows/export-legacy-favorites.yml
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

chore(migration): remove temporary export workflow
  .github/workflows/export-legacy-favorites.yml
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(pocketbase): enforce verified private access
  backend/app/services/auth.py
  backend/tests/test_auth.py
  backend/tests/test_schema_contract.py
  pocketbase/pb_migrations/1783651500_harden_public_access.js
Labels: backend, api

fix(ai): make provider calls async and bounded
  backend/app/services/ai.py
  backend/tests/test_ai_async.py
Labels: backend, api

fix(security): harden public API boundaries
  backend/.env.example
  backend/app/config.py
  backend/app/main.py
  backend/app/models/accounts.py
  backend/app/models/analytics.py
  backend/app/models/favorites.py
  backend/app/models/searchSuggestions.py
  backend/app/rate_limit.py
  backend/app/security.py
  backend/app/services/accounts.py
  backend/app/services/favorites.py
  backend/app/services/search_sessions.py
  backend/tests/test_account_deletion.py
  backend/tests/test_public_readiness.py
  backend/tests/test_search_endpoint.py
Labels: backend, api, security

fix(frontend): surface auth and favorites failures
  frontend/src/app/contexts/AuthContext.tsx
  frontend/src/app/favorites/page.tsx
  frontend/src/lib/api.ts
Labels: frontend, ui/ux

feat(account): add privacy and deletion controls
  frontend/src/app/account/page.scss
  frontend/src/app/account/page.tsx
  frontend/src/app/components/Navigation.tsx
  frontend/src/app/components/SimpleFooter.scss
  frontend/src/app/components/SimpleFooter.tsx
  frontend/src/app/privacy/page.scss
  frontend/src/app/privacy/page.tsx
Labels: frontend, ui/ux

chore(deps): upgrade vulnerable web stacks
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, backend

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat(footer): add support contact link
  frontend/src/app/components/SimpleFooter.tsx
  frontend/src/app/privacy/page.tsx
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(privacy): link contact email
  frontend/src/app/privacy/page.tsx
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(privacy): center policy content
  frontend/src/app/privacy/page.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(privacy): add responsive page margins
  frontend/src/app/privacy/page.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(ai): fail over from Anthropic to Gemini
  backend/app/services/ai.py
  backend/tests/test_ai_async.py
Labels: backend, api

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'
