Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): reduce Discogs 429 rate limit errors
  backend/app/main.py
  frontend/src/app/components/SearchInput.tsx
Labels: frontend, backend, api, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(perf): parallel verification, faster timeouts, deadline guard
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): cancel in-flight requests, remove broken prefix cache
  frontend/src/app/components/SearchInput.tsx
  frontend/src/lib/api.ts
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(auth): remove session store, use supabase.getSession() directly
  frontend/src/app/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/session-store.ts
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): verification returns True on API failure, add favorites/update endpoint
  backend/app/main.py
  backend/app/services/favorites.py
Labels: backend, api, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat: add /api/v1/health/ai/claude-test diagnostic endpoint
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: import anthropic in main.py for claude-test endpoint
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Handle session expiration for favorites - sign out user on 401
  frontend/src/app/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'
