Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

feat: mobile hero 1rem padding, no min-height
  frontend/src/app/components/HeroHeader.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Search analytics: track sessions, clicks, and favorites across the funnel
  backend/app/main.py
  backend/app/models/albums.py
  backend/app/models/favorites.py
  backend/app/services/favorites.py
  backend/app/services/search_sessions.py
  frontend/src/app/components/AlbumCard.scss
  frontend/src/app/components/AlbumCard.tsx
  frontend/src/app/components/AlbumDetails.scss
  frontend/src/app/components/AlbumDetails.tsx
  frontend/src/app/components/HeroHeader.scss
  frontend/src/app/components/Navigation.scss
  frontend/src/app/globals.scss
  frontend/src/app/page.tsx
  frontend/src/lib/api.ts
  supabase/migrations/20260320000000_search_analytics.sql
Labels: frontend, backend, api, ui/ux, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Drop unused tables: recommendation_sessions, recommendations, playlists, playlist_albums
  supabase/migrations/20260320010000_drop_unused_tables.sql
Labels: none

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: don't pass null search_session_id to favorites insert
  backend/app/services/favorites.py
Labels: backend, api, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: truncate hero search input text behind submit button
  frontend/src/app/components/SearchInput.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

docs: clarify app_settings is source of truth for AI model
  backend/README.md
Labels: backend

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: increase Claude max_tokens to 8192 to prevent XML truncation
  backend/app/services/ai.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: bump max_tokens to 16384 and cap explanation length for reliable XML parsing
  backend/app/services/ai.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: simplify recommendation prompt — no verbose analysis, 10 albums in 8s
  backend/app/services/ai.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: extract Spotify cover_url and prioritize over Discogs; update Discogs User-Agent
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Fix: prioritize Discogs cover over Spotify; extract Spotify cover when available
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

Favorites: change title to 'Favorites', use Dirtyline font
  frontend/src/app/favorites/page.scss
  frontend/src/app/favorites/page.tsx
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'
