Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): rename tables, add raw_response, capture IP/UA, retry until 10 real albums
  backend/app/main.py
  backend/app/models/favorites.py
  backend/app/services/ai.py
  backend/app/services/search_sessions.py
  supabase/migrations/20260501000000_fix_search_analytics_rls.sql
  supabase/migrations/20260501000001_fix_search_paths_and_indexes.sql
  supabase/migrations/20260501000002_rename_search_tables.sql
  supabase/migrations/SECURITY_REMEDIATION.md
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(views): add search_results and search_summary views with RLS
  supabase/migrations/20260501000003_create_search_views.sql
  supabase/migrations/20260501000004_fix_view_rls.sql
Labels: none

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat(api): expose search_results and search_summary views
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

revert(prompt): restore chain-of-thought prompt with nuanced translation rules
  backend/app/services/ai.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(auth): share session between AuthContext and API client
  frontend/src/app/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/session-store.ts
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

refactor(prompt): overhaul recommendation prompt with existence confidence scoring
  backend/app/services/ai.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(eval): integrate verification, per-album feedback, skeptical default
  backend/app/main.py
  backend/app/services/evaluator.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: remove unused best_verified_map variable
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): return 503 when Discogs credentials missing instead of silent empty results
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): fix predictive search by handling Discogs response properly
  backend/app/main.py
  backend/app/models/searchSuggestions.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: add from e to satisfy B904 lint rule
  backend/app/main.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): add Discogs logging, limit Spotify enrichment concurrency
  backend/app/main.py
  frontend/src/lib/spotify.ts
Labels: frontend, backend, api

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'
