Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(security): remove debug endpoints leaking API key prefixes
  backend/app/main.py
Labels: backend, api

feat(pocketbase): add PocketBase persistence/auth boundary
  backend/app/clients/__init__.py
  backend/app/clients/pocketbase.py
  backend/app/config.py
  backend/app/services/auth.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_pocketbase_client.py
  backend/tests/test_search_endpoint.py
Labels: backend, api

docs(env): add PocketBase env vars, note Supabase is being migrated off
  backend/.env.example
Labels: backend

feat(pocketbase): add versioned schema migrations for the target collections
  backend/tests/test_schema_contract.py
  plans/001-async-ai-sdk-clients.md
  plans/002-defer-db-writes-to-background-tasks.md
  plans/003-shared-pooled-httpx-client.md
  plans/004-run-auth-concurrently-with-ai.md
  plans/005-user-driven-retry-and-find-more.md
  plans/006-migrate-supabase-to-pocketbase.md
  plans/README.md
  pocketbase/pb_migrations/1783645310_update_users_collection.js
  pocketbase/pb_migrations/1783645320_create_albums_collection.js
  pocketbase/pb_migrations/1783645330_create_favorites_collection.js
  pocketbase/pb_migrations/1783645340_create_search_collections.js
Labels: backend

fix(pocketbase): add missing created/updated fields to base collections
  pocketbase/pb_migrations/1783645350_add_timestamps_to_base_collections.js
Labels: none

feat(pocketbase): replace Supabase with PocketBase in the FastAPI backend
  backend/app/clients/pocketbase.py
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/app/services/favorites.py
  backend/app/services/recommendations.py
  backend/app/services/search_sessions.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/test_analytics.py
  backend/tests/test_favorites.py
  backend/tests/test_pocketbase_client.py
  backend/tests/test_schema_contract.py
  backend/tests/test_search_sessions.py
Labels: backend, api, security

feat(pocketbase): migrate frontend auth from Supabase to PocketBase
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/debug-env/route.ts
  frontend/src/app/auth/callback/page.tsx
  frontend/src/app/auth/reset-password/page.tsx
  frontend/src/app/components/AlbumDetails.tsx
  frontend/src/app/components/auth/AuthModal.tsx
  frontend/src/app/components/auth/LoginForm.tsx
  frontend/src/app/contexts/AuthContext.tsx
  frontend/src/app/debug/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth-error-handler.ts
  frontend/src/lib/pocketbase.ts
  frontend/src/lib/supabase.ts
Labels: frontend, ui/ux, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat(pocketbase): add Supabase-to-PocketBase user migration scripts
  backend/app/clients/pocketbase.py
  backend/scripts/export_supabase_users.py
  backend/scripts/import_pocketbase_users.py
  backend/tests/test_pocketbase_client.py
  backend/tests/test_user_migration.py
Labels: backend
