Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'

Add debug endpoint to test AI service configuration
  backend/app/main.py
Labels: backend, api

feat: add runtime AI model configuration via Supabase
  .github/workflows/ci.yml
  .github/workflows/health-check.yml
  backend/app/main.py
  backend/app/services/ai.py
  backend/pytest.ini
  backend/requirements.txt
  backend/scripts/run_migration.py
  backend/scripts/setup_db.py
  backend/scripts/test_claude.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_ai_models.py
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20231213000000_create_recommendation_sessions.sql
Labels: backend, ci/cd, api

security next.js fix
  frontend/package.json
Labels: frontend

backend updates
  backend/venv/bin/Activate.ps1
  backend/venv/bin/activate
  backend/venv/bin/activate.csh
  backend/venv/bin/activate.fish
  backend/venv/lib/python3.12/site-packages/httpx/__init__.py
  backend/venv/lib/python3.12/site-packages/httpx/__version__.py
  backend/venv/lib/python3.12/site-packages/httpx/_api.py
  backend/venv/lib/python3.12/site-packages/httpx/_auth.py
  backend/venv/lib/python3.12/site-packages/httpx/_client.py
  backend/venv/lib/python3.12/site-packages/httpx/_config.py
  backend/venv/lib/python3.12/site-packages/httpx/_content.py
  backend/venv/lib/python3.12/site-packages/httpx/_decoders.py
  backend/venv/lib/python3.12/site-packages/httpx/_exceptions.py
  backend/venv/lib/python3.12/site-packages/httpx/_main.py
  backend/venv/lib/python3.12/site-packages/httpx/_models.py
  backend/venv/lib/python3.12/site-packages/httpx/_multipart.py
  backend/venv/lib/python3.12/site-packages/httpx/_status_codes.py
  backend/venv/lib/python3.12/site-packages/httpx/_transports/__init__.py
  backend/venv/lib/python3.12/site-packages/httpx/_transports/asgi.py
  backend/venv/lib/python3.12/site-packages/httpx/_transports/base.py
  backend/venv/lib/python3.12/site-packages/httpx/_transports/default.py
  backend/venv/lib/python3.12/site-packages/httpx/_transports/mock.py
  backend/venv/lib/python3.12/site-packages/httpx/_transports/wsgi.py
  backend/venv/lib/python3.12/site-packages/httpx/_types.py
  backend/venv/lib/python3.12/site-packages/httpx/_urlparse.py
  backend/venv/lib/python3.12/site-packages/httpx/_urls.py
  backend/venv/lib/python3.12/site-packages/httpx/_utils.py
  backend/venv/pyvenv.cfg
Labels: backend

fix: update Next.js to 15.5.9 and CodeQL to v3
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, ci/cd

lint
  backend/tests/test_ai_models.py
Labels: backend

fix permissions
  .github/workflows/status-page.yml
Labels: ci/cd

fix: lint errors and CI workflow issues
  .github/CODEOWNERS
  backend/app/config.py
  backend/app/config/model_switch.py
  backend/app/database.py
  backend/app/main.py
  backend/app/models/albums.py
  backend/app/models/favorites.py
  backend/app/models/recommendations.py
  backend/app/models/searchSuggestions.py
  backend/app/services/ai.py
  backend/app/services/favorites.py
  backend/app/services/recommendations.py
  backend/ruff.toml
  backend/scripts/run_migration.py
  backend/scripts/setup_db.py
  backend/scripts/test_claude.py
  backend/tests/conftest.py
  backend/tests/test_ai_models.py
Labels: backend, ci/cd, api, security

fix models
  .github/workflows/ci.yml
  .gitignore
  README.md
  backend/tests/test_ai_models.py
Labels: backend, ci/cd, documentation

import validation fix
  .github/workflows/ci.yml
Labels: ci/cd

fix: correct ruff.toml format and add security permissions
  .github/workflows/ci.yml
  backend/ruff.toml
Labels: backend, ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
  README.md
Labels: ci/cd, documentation

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

gitHub actions permissions
  .github/workflows/health-check.yml
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd
