Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

fix: auth modal positioning broken by overlay/content split
  frontend/src/app/components/auth/AuthModal.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: use StrEnum instead of (str, Enum) to satisfy ruff UP042
  backend/app/config/model_switch.py
  backend/app/models/albums.py
Labels: backend, api

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: album metadata truncation cutting off year when genre is long
  frontend/src/app/components/AlbumCard.scss
  frontend/src/app/components/AlbumCard.tsx
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: match favorites by title+artist instead of unstable IDs
  backend/app/services/favorites.py
  frontend/src/app/page.tsx
  supabase/migrations/20260319000000_dedup_albums_add_unique_constraint.sql
Labels: frontend, backend, api, ui/ux, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat: update logo and hero with Dirtyline font, add text-wrap balance
  frontend/public/fonts/Dirtyline 36daysoftype 2022.woff2
  frontend/src/app/components/HeroHeader.scss
  frontend/src/app/components/Navigation.scss
  frontend/src/app/components/Navigation.tsx
  frontend/src/app/components/RecommendationsSection.scss
  frontend/src/app/page.css
  frontend/src/styles/fonts.css
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: logo DeepCuts, hero lowercase, center search
  frontend/src/app/components/HeroHeader.scss
  frontend/src/app/components/HeroHeader.tsx
  frontend/src/app/components/Navigation.tsx
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat: fluid hero typography — title 72px, description 20px, search 18px
  frontend/src/app/components/HeroHeader.scss
  frontend/src/app/components/HeroHeader.tsx
  frontend/src/app/components/SearchInput.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat: tighter hero padding, larger description text, search input 54px height, DeepCuts logo in blue
  frontend/src/app/components/HeroHeader.scss
  frontend/src/app/components/Navigation.scss
  frontend/src/app/components/SearchInput.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat: increase top hero padding
  frontend/src/app/components/HeroHeader.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix: hero header padding 2rem desktop
  frontend/src/app/components/HeroHeader.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

feat: search input 54px height, show logo on mobile, bump mobile description text
  frontend/src/app/components/HeroHeader.scss
  frontend/src/app/components/Navigation.scss
  frontend/src/app/components/SearchInput.scss
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'
