Repository collette7/DeepCuts, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci/cd, documentation, dependencies, api, ui/ux, configuration, security

.github/labeler.yml:

# Configuration for PR labeler
# Labels PRs based on the files that are changed

'frontend':
  - 'frontend/**/*'

'backend':
  - 'backend/**/*'

'ci/cd':
  - '.github/**/*'
  - 'Procfile'
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'

'documentation':
  - '*.md'
  - 'docs/**/*'
  - 'README*'

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'yarn.lock'

'api':
  - 'backend/app/main.py'
  - 'backend/app/models/**/*'
  - 'backend/app/services/**/*'

'ui/ux':
  - 'frontend/src/app/components/**/*'
  - 'frontend/src/app/**/*.tsx'
  - 'frontend/src/app/**/*.scss'
  - 'frontend/src/app/**/*.css'

'configuration':
  - '*.config.*'
  - '.env*'
  - 'tsconfig.json'
  - 'eslint.config.*'

'security':
  - 'backend/app/services/favorites.py'
  - 'frontend/src/lib/auth*'
  - 'backend/app/database.py'

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(search): label completed result sets
  frontend/src/app/page.tsx
Labels: frontend, ui/ux

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

fix(pocketbase): refresh expired admin tokens before requests
  backend/app/clients/pocketbase.py
  backend/tests/test_pocketbase_token_refresh.py
Labels: backend

fix(favorites): recover concurrent saves and return album details
  backend/app/services/favorites.py
  backend/tests/test_favorites.py
  backend/tests/test_favorites_regressions.py
Labels: backend, api, security

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd

📊 Update project status dashboard [skip ci]
  .github/status/dashboard.md
Labels: ci/cd
